<div
  class="h-full duration-100 ease-sharp-motion-curve hover:shadow-hover active:shadow-active hover:-translate-y-[1px] active:translate-y-0 relative hover:z-[1] box-content relative group border border-solid hover:border-shopee-primary border border-solid border-shopee-black9"
  aria-hidden="true">
  <a class="contents"
    ><div class="flex flex-col bg-white cursor-pointer h-full">
      <div class="relative z-0 w-full pt-full">
        <img
          src="https://down-id.img.susercontent.com/file/sg-11134201-7rdvj-lxkvy0eaa6owaa_tn.webp"
          class="inset-y-0 w-full h-full pointer-events-none object-contain absolute"
          loading="lazy"
          aria-hidden="true" />
        <div
          class="text-shopee-primary font-medium bg-shopee-pink py-0.5 px-1 text-xs/sp14 absolute top-0 right-0 z-30">
          <span
            data-testid="a11y-label"
            aria-label="-33%"></span
          >-33%
        </div>
      </div>
      <div class="p-2 flex-1 flex flex-col justify-between">
        <div class="mb-1 line-clamp-2 break-words min-h-[2.5rem] text-sm">
          <img
            src="https://down-id.img.susercontent.com/file/id-11134258-7r98r-lyalscj1g30l0b"
            alt="flag-label"
            class="mr-0.5 mb-0.5 inline-block h-sp14" />
          <span class="product-name"> TODO: product-name </span>
        </div>
        <div
          class="box-border flex space-x-1 h-5 text-sp10 items-center overflow-hidden mb-2"
          aria-hidden="true">
          <div
            class="pointer-events-none text-ellipsis overflow-hidden max-w-full items-center flex">
            <img
              src="https://down-id.img.susercontent.com/file/id-50009109-8d834dd660b129d1d3c72d22c1cb8867"
              alt="promotion-label"
              class="max-w-none"
              style="width: 27px; height: 10px" />
          </div>
        </div>
        <div class="flex justify-between items-center space-x-1">
          <div
            class="max-w-full flex-grow-1 flex-shrink-0 truncate text-shopee-primary flex items-center font-medium">
            <span
              data-testid="a11y-label"
              aria-label="promotion price"></span>
            <div class="truncate flex items-baseline">
              <span class="text-xs/sp14 font-medium mr-px">Rp</span
              ><span class="font-medium text-base/5 truncate product-price"
                >TODO: product-price</span
              ><span class="text-xs/sp14 font-medium mr-px"></span>
            </div>
          </div>
        </div>
      </div></div></a
  ><a
    class="opacity-0 group-hover:opacity-100 duration-100 absolute z-[-1] top-[calc(100%-6px)] pt-[6px] -left-px box-content w-full h-[1.875rem] bg-shopee-primary text-white text-center text-sm/[1.875rem] border border-solid border-shopee-primary rounded-bl-sm rounded-br-sm"
    href="/find_similar_products?catid=100630&amp;itemid=26905055127&amp;shopid=921647560"
    >Produk Serupa</a
  >
</div>
